/* CSS declarations go here */
body {
	background-color: #d2fcff;
	margin: 0;

}


.container {
	background-color: #8acdff;
	margin-right: 25%;
	margin-left: 25%;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;

}

.header {
	background-color: black;
	font-family: "Copperplate";
	text-shadow: 4px 2px #ff0000;
	color: silver;
}

.chatroom {
	background-color: red;
	font-family: "Comic Sans MS";
	color: white;

}