/* CSS declarations go here */
body {
	background-color: #F45D4C;
	margin: 0;
	color: #B83229;
}

.container {
	background-color: #F7A541;
	margin-right: 25%;
	margin-left: 25%;
	margin-bottom: 0;
	padding: 5px;
	border-radius: 10px;
	margin-top: 10px;
}

.header {
	background-color: #A1DBB2;
	padding: 10px;
	border-radius: 10px;
	margin: 10px;
	color: #F45D4C;
}

.chatroom {
	background-color: #FEE5AD;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
}

.input {
	padding: 10px;
	margin: 10px;
}