/* CSS declarations go here */
body {
	background-color: #F45D4C;
	margin: 0;
	color: #B83229;
}

.container {
	background-color: #F7A541;
	margin-right: 25%;
	margin-left: 25%;
	margin-bottom: 0;
	/*padding: 5px;*/
	border-radius: 10px;
	margin-top: 10px;
	padding: 10px;
}

.header {
	text-align: center;
	background-color: #cfffcf;
	font-family: "Helvetica";
	font-size: 20px;
	color:teal;
}

.chatroom {
	/*background-color: #FEE5AD;*/
	/*border-radius: 10px;*/
	/*padding: 10px;*/
	/*margin: 10px;*/
	background-color: #A1DBB2;
	padding: 10px;
	border-radius: 10px;
	margin: 10px;
	color: #F45D4C;
}

.input {
	padding: 10px;
	margin: 10px;
	background-color: #cfffcf;
}

input {
	border-style: 5px black solid;
	font-size: 20px;
	margin-left: 6px;
}

#button {
	text-align: center;
}

#name {
	width:100px;
}

#message {
	width: 200px;
	height: 200px;
}

input:p {
	margin-top: 0px;
	padding-top: 0px;
}