/* CSS declarations go here */
body {
	background-color: #CCFFFF;
	margin: 0;
	font-family: "Georgia";
}

.container {
	background-color: #CCCCFF;
	margin-right: 25%;
	margin-left: 25%;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

.header {
	background-color: #CC99FF;
}

.chatroom {
	background-color: #CC66FF
;
}
